.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
    
    .titulo{
        margin-top: 30px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        img{

            margin-top: 30px;
            height: 30vw;
            width: 80vw;
            object-fit: cover;
           
            
        }
    }

    ul,p{
        margin-inline: 45px;
        margin-bottom: 10px;
        text-align: left;
        .negrita{
            font-weight: bold;

        }
        li{
            margin: 10px 0px;
        }
    }
    ul{
        display: flex;
        flex-direction: column;

    }

    
}