.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
  h1{
    padding: 20px;
  }
  

  
  .mapa {
    @media (max-width: 600px) {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        
        
        }
        background-color: whitesmoke;

    padding: 30px;
    width: 90vw;
    display: flex;
    font-size: 1.13rem;
    .protect {
        @media (max-width: 600px) {
            padding: 0;
            padding-top: 20px;
            width: 98%;
            
            
            }
      padding-left: 40px;
      width: 70%;
    }
  }
  .equipo1{
    padding: 10px;
    h2{
        text-align: center;
        padding: 20px;
        font-weight: 400;
    }
    .equipo{
       
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       gap: 40px;
        
        .jose ,.diego, .esther,.lucas, .silvia{
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            img{

                
                border: 7px solid rgb(224, 224, 224);
                width: 10rem;
                height:10rem;
                margin: 20px;
                border-radius: 100px;
                object-fit: cover;
                
            }
            p{
                text-align: center;
                padding: 10px;
            }
        }
        
    
}
  }
}
