.gallery{
    display: flex;
    flex-direction: column;
    
    width: 90vw;


    margin-bottom: 60px;

    
    gap: 20px;
    padding-left: 2%;
    .goBack{
        margin-top: 10px;
        width: 100%;
        padding: 10px;
    
        display: flex;
        justify-content: space-between;
        background-color: rgb(217,217,217);
        .main{
            display: flex;
            font-size: 80%;
            align-items: center;
            margin-left: 2vw;
            &:hover{
                backface-visibility: hidden;
                transform: scale(1.05);
                opacity: 1;
            }
        }
        .filtro{
            left: 90vw;
            margin-right: 2vw;
        }
        
    }
    
    .carta{
        display: flex;
        align-items: center;
        
        border: solid 1px black;
        width: 91vw;
       
        gap: 10px;
        
        
        img{
            
            margin:15px  5px;
            margin-left: 15px;
            width: 250px;
            height: 200px;
            min-width: 250px;
            
            object-fit:cover;
            
        }
        
        .texto-animales{
            text-transform: capitalize;
            display: flex;
            flex-direction: column;
            gap: 5px;
            width:170px;
        }
        .animalsP{
            width: 50%;
            @media screen and (max-width: 850px){
                display:none;
    
            }
        }
        .linkPerro{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(217,217,217);
            padding: 10px;
            padding-inline: 15px;
            margin-inline: 15px;
            border: solid 1px black;
            &:hover{
                backface-visibility: hidden;
                transform: scale(1.05);
                opacity: 1;
            }
        }

    }
}



@media screen and (max-width: 505px){
    .gallery{
        .carta{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            margin:15px  5px;
            margin-left: 15px;
            width: 250px;
            height: 250px;
            min-width: 250px;
            
            object-fit:cover;
            
        }
        .texto-animales{
            justify-content: center;
            align-items: center;
        }
        .linkPerro{
            margin-bottom: 20px;
        }
        }
    }
}