.colaboratorsContainer {
  background-color: #d9d9d9;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  @media (max-width: 600px) {
    height: auto;
  }
}

.colaboratorsContainer ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  @media (max-width: 600px) {
    flex-direction: column;
  }
  img {
    width: 130px;
    height: 100px;
    object-fit: contain;
    display: block;
    @media (max-width: 600px) {
      margin: 1rem auto;
      width: 80%;
    }
  }
}