.blog{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    

    .carta-blog{
        margin-top: 20px;
        width: 20vw;
        gap: 10px;
        
        
        
        img{
            width: 100%;
            object-fit: contain;
        }
    }
}