@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.navbar{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    background-color: #FFFDE8;
    img{
        width: 80px;
        margin: 10px;
        border-radius: 60px;
        &:hover{
            animation: rotation 3s infinite linear;
        }
    }

}

.lista{
    width: 100%;
    height: 10%;
    ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
        li{
            font-weight: 400;
        }
    }
    @media screen and (max-width: 750px){
        display:none;

    }
    .selected{
        font-weight: bolder;
    }
    a{
        text-decoration: none;
        color: black;
        cursor: pointer;
      }
}

