.numeracionlu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5%;
 


}

#h2{
margin-top: 10%;
text-align: center;


}


.ps{
  text-align:left;
  padding: 3%;
  
}


.firstdiv {
 
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
 
 
  

  img{
    height: 120px;
    width: 120px;
  }
}


