.colaboratorsContainer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 8%;
    margin-bottom: 3%;
    
    
}

img {
    @media (max-width:600px)  {
        margin: 5%;
        width: 45%;
    }
    width: 65%;
}


