.colaboratorsContainer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 8%;
    margin-bottom: 3%;
}

img {
    width: 40%;
}