@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


.homepri{
    @media (max-width:600px)  {
        flex-direction: column;
        
    }
    display: flex;
    flex-direction:row;
    margin-top: 4rem;

    img {
        @media (max-width:600px)  {
            width: 300px;
            margin: 2rem auto;
        }
     
    }
  
}
.line {
    font-family: 'Lilita One', cursive;
    margin: 0 auto;
    color: #FFB147;
    white-space: nowrap;
    overflow: hidden;transform: translateY(-50%);
    font-size: 3rem;
    font-weight: 400;
    
}
.anim-typewriter {
    @media (max-width:600px)  {
        flex-direction: column;
        font-size: x-large;
      
    }
    animation: typewriter 4s steps(36) 1s 1 normal both,
    blinkTextCursor 500ms steps(36) infinite normal;
}
@keyframes typewriter {
    from {
          width: 0;
    }
    to {
          width: 16em;
    }
}

@keyframes blinkTextCursor {
    from {
          border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
          border-right-color: transparent;
    }
}





.second{
 @media screen {
     display: flex;
     flex-direction: column;
     align-items: center;
     font-size: medium;
 }
    
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    font-size: x-large;

 

    .ph{
        @media (max-width:600px)  {
         font-size:large;
          
        }

        text-align: justify;
        margin: 6%;
        font-size: x-large;
        

    }
}

.secondhome{
    @media (max-width:600px)  {
        flex-direction: column;
        font-size: large;
        margin-top: 5%;
        display: flex;
       flex-direction: column;
       align-items: center;
       justify-content:space-around;
      
    }
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    margin: 4%;
    padding: 3%;
    display: flex;
    flex-direction: row;

    font-size: x-large;
}



.buttonh{

    @media (max-width:600px)  {
        
        margin-top: 8%;
      
    }
    a{
        color: white;
    }
    margin-top: 0px;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    background-color: #ff9eb3;
    border: 3px solid white;
    color: white;
    margin-bottom: 10px;
    
    &:hover{
        background-color: #dd889a;
        transition: 0.5s;
    }
}
  

   
 
