
.line {
    position: relative;
    top: 50%;
    width: 16em;
    margin: 0 auto;
    border-right: 2px solid rgba(187, 72, 72, 0.75);
    font-size: 1.6rem;
    color: #FFB147;
    text-align: center;
    border-top: #FFB147;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;transform: translateY(-50%);
    font-size: x-large;
    font-weight: 400;
    
}
.anim-typewriter {
    animation: typewriter 4s steps(36) 1s 1 normal both,
    blinkTextCursor 500ms steps(36) infinite normal;
}
@keyframes typewriter {
    from {
          width: 0;
    }
    to {
          width: 16em;
    }
}

@keyframes blinkTextCursor {
    from {
          border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
          border-right-color: transparent;
    }
}



.titulo{
   text-align: center;
}

.second{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    font-size: 18px;

    img {

        @media screen {
            max-width: 700px;
            min-width: 100px;
        }

        width: 180px;
        height:200px ;
        -webkit-box-shadow: 2px 1px 18px -2px #000000; 
        box-shadow: 2px 1px 18px -2px #000000;
        border-radius: 20px;
        margin: 6%;

    
    }

    .ph{
       
        text-align: justify;
        padding: 6%;
        font-size: medium;

    }
}

.secondhome{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    margin: 4%;
    padding: 3%;
    display: flex;
    flex-direction: row;
}

.data-container {
    margin-top: 10%;
    margin-bottom: 5%;
}

button{
    margin-top: 0px;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    background-color: #ff9eb3;
    border: 3px solid white;
    color: white;
    margin-bottom: 10px;
    &:hover{
        background-color: #dd889a;
        transition: 0.5s;
    }
}
  

   
 
