// =============================================================================
// _colors.scss : Colors for Project
// MIT License
// =============================================================================

// =============================================================================
// _colors.scss settings
// =============================================================================

$red-primary-color: red;

//Palette Green
$green-primary-color: green;

//Palette Blue
$blue-primary-color: green;
