.añadirMascota{
    background-color: white;
    width: 35%;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    padding-left: 50px;
    padding-right: 30px;
    margin-top: 30px;
    margin-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    h1{
        font-weight: 400;
        margin-bottom: 40px;
    }
    .añadirMascotaForm{
        .formFieldPictures{
            .labelArchivos{
                margin-top: 20px;
                padding-bottom: 20px;
            }

        }
        .formField{
            margin-bottom: 30px;
            display: flex;
            gap: 20px;

        }

        .formField2{
            display: flex;
            flex-direction: column;
            gap:20px;
            margin-bottom: 20px;
        }


        label{
            font-weight: 500;
        }
        input{
            display: flex;
            margin-bottom: 20px;
            border: 3px solid white;
            border-bottom: 1px solid #afafaf ;
            max-width: 400px;
        }
        textarea{
            display: flex;
            max-width: 80%;
            height: 100px;
            background-color: #FAFAFA ;
            border: 3px solid white;
            resize: none;


        }

        button{
            margin-top: 0px;
            width: 130px;
            height: 40px;
            border-radius: 10px;
            background-color: #ff9eb3;
            border: 3px solid white;
            color: white;
            margin-bottom: 10px;
            &:hover{
                background-color: #dd889a;
                transition: 0.5s;
            }
        }
    }
}

.formField.pictures {
    display: flex;
    flex-direction: column;
    .pictureContainer {
        display: flex;
        margin-bottom: 3rem;
        img {
            width: 60px;
            height: 60px;
            object-fit: cover;
            margin-right: 1rem;
            border-radius: 30px;
        }
    }
  }
 