@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap%27');

*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
body{
  background-color: #FAFAFA;
  height: 85.5vh;
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
  cursor: pointer;
}
.App{
  height: 100%;
}

.root{
  height: 100%;
}