.main {
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-between;
  width: 91vw;
  font-size: 80%;
  align-items: center;
  margin-left: 0;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  p {
    margin-right: 10px;
  }
  img {
    width: 20px;
    margin-left: 20px;

  }
}
.galleryDetail {
  display: flex;
  flex-wrap: wrap;
  font-size: 80%;
  align-items: center;
  margin: 20px;
  justify-content: center;

  img {
    width: 400px;
  }
}
.buttonDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    background-color: #ff9eb3;
    border: 3px solid white;
    color: white;
    margin-bottom: 10px;
    &:hover {
      background-color: #dd889a;
      transition: 0.5s;
    }
  }
  a {
    color: white;
  }
}

.gif {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 300px;
    margin: 50px;
  }
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.detailsDetail{
    font-size: medium;
    margin-left: 30px;
}

.textDetail{
    width: 40%;
    margin: 50px;
}
