.goBack{
    margin-top: 10px;
    width: 100%;
    padding: 10px;

    display: flex;
    background-color: rgb(217,217,217);
    .main{
        display: flex;
        font-size: 80%;
        align-items: center;
        margin-left: 2vw;
    }
    
}